<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Handlebars Portfolio</title>
</head>

<body>
    <h1>This is the home template </h1>
    <h2>Hey there, {{cohort}}</h2>
    <h3>what's ur favorite number?</h3>
    <ul>
        {{#teacher}}
        <li>{{#name}}</li>
        {{/teachers}}
    </ul>
</body>

</html>